<div class="container-fluid">
  <div class="row separador alig-items-center">
    <div class="col-12 col-md-12 col-lg-6 mb-2">
      <div
        id="carouselIndicators"
        class="carousel slide h-100"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselIndicators" data-slide-to="1"></li>
          <li data-target="#carouselIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="./assets/img/PngItem_953046.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="./assets/img/PngItem_1060979.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="./assets/img/PngItem_1650078.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6 alig-items-center mb-2">
      <div class="container-fluid">
        <div class="row justify-content-center my-3">
          <h1 class="text-center">GESTIÓN DEPORTIVA DEL CLUB</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-2 justify-content-center">
          <div class="col mb-4">
            <a routerLink="jugadores" title="Gestión Jugadores">
              <div class="card h-100">
                <img
                  src="./assets/img/jugadores.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h3 class="card-title">GESTION DE JUGADORES</h3>
                  <p class="card-text">
                    En esta sección podrá realizar todas las gestiones
                    referentes a los jugadores del club, tales como, alta, baja,
                    modificación y consulta general de jugadores y consulta
                    detallada por jugador.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col mb-4">
            <a routerLink="asistencias" title="Control de Asistencias">
              <div class="card h-100">
                <img
                  src="./assets/img/asistenciasdescarga.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h3 class="card-title">GESTION DE CONTROL DE ASISTENCIAS</h3>
                  <p class="card-text">
                    En esta sección podrá realizar todas las gestiones
                    referentes al control de asistencias a entrenamientos y
                    partidos de los jugadores del club, tales como, alta, baja,
                    modificación y consulta general de asistencias.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col mb-4">
            <a routerLink="equipos" title="Gestión de Equipos">
              <div class="card h-100">
                <img
                  src="./assets/img/equipos.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h3 class="card-title">GESTION DE EQUIPOS</h3>
                  <p class="card-text">
                    En esta sección podrá realizar todas las gestiones
                    referentes a los equipos del club, tales como, alta, baja,
                    modificación, consulta general de equipos y consulta en
                    detalle de un equipo.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col mb-4">
            <a routerLink="entrenadores" title="Gestión de Entrenadores">
              <div class="card h-100">
                <img
                  src="./assets/img/entrenadores.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h3 class="card-title">GESTION DE ENTRENADORES</h3>
                  <p class="card-text">
                    En esta sección podrá realizar todas las gestiones
                    referentes a los entrenadores del club, tales como, alta,
                    baja, modificación, consulta general de entrenadores y
                    consulta en detalle de un entrenador.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
