<div class="row d-block justify-content-center h-100" id="panelIzquierdo">
  <img
    class=""
    src="./assets/img/asistenciasdescarga.jpg"
    alt="Imagen Asistencias"
  />
  <div class="mt-5 mx-4 text-justify">
    <h1 class="text-center">{{ titulo }}</h1>
    <p>
      En esta página el usuario podrá realizar las consultas de asistencia a los
      entrenamientos y partidos de los jugadores que se encuentren dados de alta
      dentro de un equipo del club.
    </p>
  </div>
  <a routerLink="form" title="Crear nueva asistencia">
    <h2 class="text-center">
      <fa-icon [icon]="farCalendarPlus" size="2x"></fa-icon>
      Nuevo registro
    </h2></a
  >
</div>
