<div class="row d-block justify-content-center h-100" id="panelIzquierdo">
  <img class="" src="./assets/img/jugadores.jpg" alt="Imagen Jugadores" />
  <div class="mt-5 mx-4 text-justify">
    <h1 class="text-center">{{ titulo }}</h1>
    <p>
      En esta página el usuario podrá realizar las consultas de los jugadores
      dados de alta en el club, así como dar de alta, baja, modificar y
      consultar en detalle a cada jugador.
    </p>
  </div>
  <a routerLink="form" title="Crear nuevo jugador">
    <h2 class="text-center">
      <fa-icon [icon]="fasUserPlus" size="2x"></fa-icon>
      Nuevo registro
    </h2></a
  >
</div>
